﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bigdeal admin is super flexible, powerful, clean &amp; modern responsive bootstrap 4 admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Bigdeal admin template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="pixelstrap">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <title>@ViewData["Title"] | Winstore.pk</title>

    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/font-awesome.css">

    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/flag-icon.css">

    <!-- Datatable css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/datatables.css">


    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css">

    <!-- App css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/admin.css">
    <link href="~/assets/js/Swal/SweetAlert2.min.css" rel="stylesheet" />
    <link href="~/assets/css/date-picker.css" rel="stylesheet" />
    <link href="~/assets/js/select2/css/select2.css" rel="stylesheet" />
    <link href="~/css/Common.css" rel="stylesheet" />
</head>
<body>

    <!-- page-wrapper Start-->
    <div class="page-wrapper">

        <!-- Page Header Start-->
        <div class="page-main-header">
            <div class="main-header-left">
                <div class="logo-wrapper"><a href="@Url.Action("Index","Home")"><img class="blur-up lazyloaded" src="~/Main_logo.jpeg" alt=""></a></div>
            </div>
            <div class="main-header-right row">
                <div class="mobile-sidebar">
                    <div class="media-body text-right switch-sm">
                        <label class="switch">
                            <input id="sidebar-toggle" type="checkbox" checked="checked"><span class="switch-state"></span>
                        </label>
                    </div>
                </div>
                <div class="nav-right col">
                    <ul class="nav-menus">
                        <li>

                        </li>
                        <li class="onhover-dropdown">

                        </li>
                        <li><a class="text-dark" href="#!" onclick="javascript:toggleFullScreen()"><i data-feather="maximize"></i></a></li>
                        <li class="onhover-dropdown">
                            <i data-feather="bell"></i><span class="badge badge-pill badge-primary pull-right notification-badge">3</span><span class="dot"></span>
                            <ul class="notification-dropdown onhover-show-div p-0">
                                <li>
                                    <div class="media">
                                        <div class="notification-icons bg-success mr-3"><i data-feather="thumbs-up"></i></div>
                                        <div class="media-body">
                                            <h6 class="font-success">Someone Likes Your Posts</h6>
                                            <p class="mb-0"> 2 Hours Ago</p>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="media">
                                        <div class="notification-icons bg-secondary mr-3"><i data-feather="download"></i></div>
                                        <div class="media-body">
                                            <h6 class="font-secondary">Download Complete</h6>
                                            <p class="mb-0"> 3 Days Ago</p>
                                        </div>
                                    </div>
                                </li>
                                <li class="bg-light txt-dark"><a href="#" data-original-title="" title="">All </a> notification</li>
                            </ul>
                        </li>
                        <li>
                            @*<a href="#"><i class="right_side_toggle" data-feather="message-square"></i><span class="dot"></span></a>*@
                        </li>
                        <li class="onhover-dropdown">
                            <div class="media align-items-center">
                                <img class="align-self-center pull-right img-50 rounded-circle blur-up lazyloaded" src="~/assets/images/dashboard/man.png" alt="header-user">
                                <div class="dotted-animation"><span class="animate-circle"></span><span class="main-circle"></span></div>
                            </div>
                            <ul class="profile-dropdown onhover-show-div p-20 profile-dropdown-hover">
                                <li><a href="#">Profile<span class="pull-right"><i data-feather="user"></i></span></a></li>
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    <li>
                                        <form style="display:none" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                            <button class="dropdown-item" type="submit"> Logout</button>
                                        </form>
                                        <a href="javascript:document.getElementById('logoutForm').submit()">Logout<span class="pull-right"><i data-feather="settings"></i></span></a>
                                    </li>
                                }
                                else
                                {

                                }

                            </ul>
                        </li>
                    </ul>
                    <div class="d-lg-none mobile-toggle pull-right"><i data-feather="more-horizontal"></i></div>
                </div>
            </div>
        </div>
        <!-- Page Header Ends -->
        <!-- Page Body Start-->
        <div class="page-body-wrapper">

            <!-- Page Sidebar Start-->
            <div class="page-sidebar">
                <div class="sidebar custom-scrollbar">
                    <div class="sidebar-user text-center">
                        <div>
                            <img class="img-60 rounded-circle lazyloaded blur-up" src="~/assets/images/dashboard/man.png" alt="#">
                        </div>
                        <h6 class="mt-3 f-14">@User.Identity.Name</h6>
                        <p>Admin</p>
                    </div>
                    <ul class="sidebar-menu">
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a class="sidebar-header" href=""><i data-feather="user-plus"></i><span>Users</span><i class="fa fa-angle-right pull-right"></i></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-area="Identity" asp-page="/Account/Register"><i class="fa fa-circle"></i>Add User</a></li>
                                    <li><a asp-action="AddUserDetail" asp-controller="User"><i class="fa fa-circle"></i>Add User Detail</a></li>
                                    <li><a asp-action="CustomUsers" asp-controller="User"><i class="fa fa-circle"></i>User List</a></li>

                                </ul>
                            </li>
                            <li>
                                <a class="sidebar-header" href=""><i data-feather="user-plus"></i><span>Store</span><i class="fa fa-angle-right pull-right"></i></a>
                                <ul class="sidebar-submenu">

                                    <li><a asp-action="Stores" asp-controller="User"><i class="fa fa-circle"></i>Add Store</a></li>


                                </ul>
                            </li>
                            <li>
                                <a class="sidebar-header" href=""><i data-feather="user-plus"></i><span>Product</span><i class="fa fa-angle-right pull-right"></i></a>
                                <ul class="sidebar-submenu">

                                    <li><a asp-action="Product" asp-controller="User"><i class="fa fa-circle"></i>Add Product</a></li>
                                    <li><a asp-action="ProductImages" asp-controller="User"><i class="fa fa-circle"></i>Add Product Images</a></li>


                                </ul>
                            </li>
                            <li>
                                <a class="sidebar-header" href=""><i data-feather="settings"></i><span>Settings</span><i class="fa fa-angle-right pull-right"></i></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-action="Brand" asp-controller="Setup"><i class="fa fa-circle"></i>Brand</a></li>
                                    <li><a asp-action="UOM" asp-controller="Setup"><i class="fa fa-circle"></i>UOM</a></li>

                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin") || User.IsInRole("DataEntry"))
                        {
                            <li>
                                <a class="sidebar-header" href=""><i data-feather="settings"></i><span>Category</span><i class="fa fa-angle-right pull-right"></i></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-action="Category" asp-controller="Setup"><i class="fa fa-circle"></i>Category</a></li>
                                    <li><a asp-action="SecondCategory" asp-controller="Setup"><i class="fa fa-circle"></i>Second Category</a></li>
                                    <li><a asp-action="ThirdCategory" asp-controller="Setup"><i class="fa fa-circle"></i>Third Category</a></li>
                                    <li><a asp-action="FourthCategory" asp-controller="Setup"><i class="fa fa-circle"></i>Fourth Category</a></li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a class="sidebar-header" href=""><i data-feather="settings"></i><span>Address</span><i class="fa fa-angle-right pull-right"></i></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-action="Country" asp-controller="Setup"><i class="fa fa-circle"></i>Country</a></li>
                                    <li><a asp-action="Region" asp-controller="Setup"><i class="fa fa-circle"></i>Region</a></li>
                                    <li><a asp-action="City" asp-controller="Setup"><i class="fa fa-circle"></i>City</a></li>
                                    <li><a asp-action="Area" asp-controller="Setup"><i class="fa fa-circle"></i>Area</a></li>

                                </ul>
                            </li>
                            <li>
                                <a class="sidebar-header" href=""><i data-feather="settings"></i><span>Slider</span><i class="fa fa-angle-right pull-right"></i></a>
                                <ul class="sidebar-submenu">
                                    <li><a asp-action="Index" asp-controller="Slider"><i class="fa fa-circle"></i>Main Slider</a></li>
                                    <li><a asp-action="SubSlider" asp-controller="Slider"><i class="fa fa-circle"></i>Sub Slider</a></li>
                                    <li><a asp-action="DiscountBanner" asp-controller="Slider"><i class="fa fa-circle"></i>Discount Banner</a></li>
                                    <li><a asp-action="WebReviews" asp-controller="Slider"><i class="fa fa-circle"></i>Web Reviews</a></li>
                                </ul>
                            </li>
                        }

                    </ul>
                </div>
            </div>


            <div class="page-body">

                <!-- Container-fluid starts-->
                <!-- Container-fluid Ends-->
                <!-- Container-fluid starts-->
                @RenderBody()
                <!-- Container-fluid Ends-->

            </div>

            <!-- footer start-->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 footer-copyright">
                            <p class="mb-0">Copyright @Convert.ToDateTime(DateTime.Now).ToString("yyyy") © Winstore.pk All rights reserved.</p>
                        </div>
                        <div class="col-md-6">
                            <p class="pull-right mb-0"><i class="fa fa-heart"></i></p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- footer end-->
        </div>

    </div>

    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/popper.min.js"></script>
    <script src="~/assets/js/bootstrap.js"></script>

    <!-- feather icon js-->
    <script src="~/assets/js/icons/feather-icon/feather.min.js"></script>
    <script src="~/assets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- Sidebar jquery-->
    <script src="~/assets/js/sidebar-menu.js"></script>

    <!-- Datatables js-->
    <script src="~/assets/js/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/datatables/custom-basic.js"></script>

    <!--Customizer admin-->
    <script src="~/assets/js/admin-customizer.js"></script>

    <!-- lazyload js-->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!--right sidebar js-->
    @*<script src="~/assets/js/chat-menu.js"></script>*@

    <!--script admin-->
    <script src="~/assets/js/admin-script.js"></script>
    <script src="~/assets/js/Swal/Sweetalert2.min.js"></script>
    <script src="~/assets/js/datepicker/datepicker.js"></script>
    <script src="~/assets/js/select2/js/select2.js"></script>
    <script src="~/js/Common.js"></script>
    @RenderSection("Scripts", false)

</body>
</html>
