﻿@using AdminStore.Models
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Add User Detail";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getall = db.AspNetUsers.Where(x => x.AspNetUserRoles.FirstOrDefault().Role.Name != "Admin").ToList();
    var getallCountry = db.TblCountry.ToList();
}
@section Scripts{
    <script src="~/js/Setup/Address/Common.js"></script>
    <script src="~/js/User/UserDetail.js"></script>
}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveUserDetail","User")" />
<input type="hidden" id="GetUserDetailURL" value="@Url.Action("GetUserDetail","User")" />
@*<input type="hidden" id="GetallBrandsURL" value="@Url.Action("GetallBrands","Setup")" />
    <input type="hidden" id="DeleteBrandURL" value="@Url.Action("DeleteBrand","Setup")" />*@
<input type="hidden" id="GetallRegionDRPURL" value="@Url.Action("GetallRegionDRP","Setup")" />
<input type="hidden" id="GetallCityDRPURL" value="@Url.Action("GetallCityDRP","Setup")" />

<input type="hidden" id="GetallAreaDRPURL" value="@Url.Action("GetallAreaDRP","Setup")" />
<input type="hidden" id="SaveProfileImageURL" value="@Url.Action("SaveProfilePicture","User")" />
<input type="hidden" id="SaveChequeImageURL" value="@Url.Action("SaveChequeImage","User")" />
<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        User

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">User</li>
                    <li class="breadcrumb-item active">User Detail</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add User Detail</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Select User</label>
                                <select class="form-control" id="UserID" onchange="GetUserDetail()">
                                    <option value="">--Select User--</option>
                                    @foreach (var item in getall)
                                    {
                                        <option value="@item.Id">@item.UserName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Full Name</label>
                                <input type="text" id="FullName" class="form-control" />

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>DOB</label>
                                <input type="text" id="DOB" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>CNIC</label>
                                <input type="text" id="cnic" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Profile Picture</label>
                                <input type="file" id="ProfilePicture" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Bank Account Title</label>
                                <input type="text" id="BankAccountTitle" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Account Number</label>
                                <input type="text" id="AccountNumber" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Branch Code</label>
                                <input type="text" id="BranchCode" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Cheque Image</label>
                                <input type="file" id="ChequeImage" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Country</label>
                                <select class="form-control" id="Country" onchange="GetallRegionDRP()">
                                    <option>--Select Country--</option>
                                    @foreach (var item in getallCountry)
                                    {
                                        <option value="@item.Id">@item.CountryName</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Region</label>
                                <select class="form-control" id="Region" onchange="GetallCityDRP()">
                                    <option>--Select Region--</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>City</label>
                                <select class="form-control" id="City" onchange="GetallAreaDRP()">
                                    <option>--Select City--</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Area</label>
                                <select class="form-control" id="Area">
                                    <option>--Select Area--</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" id="Address" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>About</label>
                                <textarea class="form-control" id="AboutUser"></textarea>

                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="SaveUserDetail()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<input type="hidden" id="HideImgUrl" value="" />

<input type="hidden" id="HideChequeImgUrl" value="" />
<input type="hidden" id="Id" value="0" />
<input type="hidden" id="RegionId" value="0" />
<input type="hidden" id="CityId" value="0" />
<input type="hidden" id="AreaId" value="0" />
