﻿
@{
    ViewData["Title"] = "CustomUsers";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@section Scripts{
    <script src="~/js/User/UserList.js"></script>
}
<input type="hidden" id="GetallUserURL" value="@Url.Action("GetallUser","User")" />
<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        User

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">User</li>
                    <li class="breadcrumb-item active">User List</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>User List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>



