﻿
@model IEnumerable<AdminStore.Models.TblProduct>
@using AdminStore.Models
@using AdminStore.Services
@{
    Layout = null;
    PathClass obj = new PathClass();
    string path = obj.GetDomainNme();

}
<table class="display vendor-table" id="basic-1">
    <thead>
        <tr>
            <th>Date</th>
            <th>User Name</th>
            <th>Store Name</th>
            <th>Category</th>
            <th>Product Name</th>
            <th>Product Unit</th>
            <th>Total Quantity</th>
            <th>Available Quantity</th>
            <th>Is Front</th>
            <th>Thumbnails</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            StoreKingbhaiContext db = new StoreKingbhaiContext();
            var getuserDetail = db.TblUserDetail.FirstOrDefault(x => x.UserId == item.UserId);
            var getstore = db.TblStore.FirstOrDefault(x => x.Id == item.StoreId);
            var getcategory = db.TblCategory.FirstOrDefault(x => x.Id == item.CategoryId);
            var getunit = db.TblProductUnit.FirstOrDefault(x => x.Id == item.ProductUnitId);

        <tr>
            <td>
                @Convert.ToDateTime(item.CreatedOn).ToString("dd/MM/yyyy");
            </td>
            <td>
                @getuserDetail.FullName ( @getuserDetail.Cnic);
            </td>
            <td>
                @getstore.CompanyName
            </td>
            <td>
                @getcategory.CategoryName
            </td>
            <td>
                @item.ProductName
            </td>
            <td>
                @getunit.UnitName
            </td>
            <td>
                @item.TotalQuantity
            </td>
            <td>
                @item.AvailableQuantity
            </td>
            <td>
                @if (item.IsFront == true)
                {
                    <span style="color:green">Yes</span>
                }
                else
                {
                    <span style="color:red">No</span>

                }
            </td>
            <td>
                @if (item.ThumbNailImage != null && item.ThumbNailImage != "")
                {
                    <img src="@path@item.ThumbNailImage" style="height:100px;width:100px;" />
                }
                else
                {
                    <img src="~/NoImage.png" style="height:100px;width:100px" />
                }
            </td>
            <td>
                <div>
                    <i class="fa fa-edit mr-2 font-success" style="cursor:pointer" onclick="Edit('@item.Id')"></i>
                    <i class="fa fa-trash font-danger" style="cursor:pointer" onclick="Delete('@item.Id')"></i>
                </div>
            </td>
        </tr>
        }


    </tbody>
</table>