﻿@{
    Layout = null;
}
@model IEnumerable<AdminStore.Models.TblStore>
@using AdminStore.Models
<table class="display vendor-table" id="basic-1">
    <thead>
        <tr>
            <th>Date</th>
            <th>User Name</th>
            <th>Company Name</th>
            <th>Category</th>
            <th>Nature Of Business</th>
         
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            StoreKingbhaiContext db = new StoreKingbhaiContext();
            var getuserDetail = db.TblUserDetail.FirstOrDefault(x => x.UserId == item.UserId);
            var getcategory = db.TblCategory.FirstOrDefault(x => x.Id == item.CategoryId);
            var getnatureofBusiness = db.TblNatureOfBusiness.FirstOrDefault(x => x.Id == item.NatureOfBusinessId);

        <tr>
            <td>
                @Convert.ToDateTime(item.CreatedOn).ToString("dd/MM/yyyy");
            </td>
            <td>
                @getuserDetail.FullName ( @getuserDetail.Cnic)
            </td>
            <td>
                @item.CompanyName
            </td>
            <td>
                @getcategory.CategoryName
            </td>
            <td>
                @getnatureofBusiness.NatureOfBusiness
            </td>
            <td>
                <div>
                    <i class="fa fa-edit mr-2 font-success" style="cursor:pointer" onclick="Edit('@item.Id')"></i>
                    <i class="fa fa-trash font-danger" style="cursor:pointer" onclick="Delete('@item.Id')"></i>
                </div>
            </td>
        </tr>
        }


    </tbody>
</table>