﻿@using AdminStore.Services
@{
    Layout = null;
    PathClass obj = new PathClass();
    string path = obj.GetDomainNme();

}
@model IEnumerable<AdminStore.Services.ProductImages>
@using AdminStore.Models
<table class="display vendor-table" id="basic-1">
    <thead>
        <tr>
            <th>Date</th>
            <th>User Name</th>
            <th>Store Name</th>
            <th>Brand</th>
            <th>Category</th>
            <th>Product Name</th>
            <th>Thumbnails</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CreateOn
                </td>
                <td>
                    @item.UserName
                </td>
                <td>
                    @item.storeName
                </td>
                <td>
                    @item.Brand
                </td>
                <td>
                    @item.Category
                </td>
                <td>
                    @item.ProductName
                </td>

                <td>
                    @if (item.Thumbnails != null && item.Thumbnails != "")
                    {
                        <img src="@path@item.Thumbnails" style="height:100px;width:100px;" />
                    }
                    else
                    {
                        <img src="~/NoImage.png" style="height:100px;width:100px" />
                    }
                </td>
                <td>
                    <div>
                        <i class="fa fa-eye fa-lg" style="cursor:pointer" onclick="ViewImages('@item.ProductId')"></i>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>