﻿@model IEnumerable<AdminStore.Services.UserViewModel>

<table class="display vendor-table" id="basic-1">
    <thead>
        <tr>
            <th>User Name</th>
            <th>Email</th>
            <th>Full Name</th>
            <th>Phone Number</th>
            <th>CNIC Number</th>
            <th>User Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
           
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.FullName
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @item.Cnic
            </td>
            <td>
                @item.UserType
            </td>
            <td>
                <div>
                    <a asp-action="Profile" asp-controller="User" asp-route-id="@item.Id" class="btn"><i class="fa fa-user mr-2 font-success" style="cursor:pointer"></i> View Profile</a>

                </div>
            </td>
        </tr>
        }


    </tbody>
</table>