﻿

@using AdminStore.Models
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getall = db.AspNetUsers.Where(x => x.AspNetUserRoles.FirstOrDefault().Role.Name != "Admin").ToList();
    var getallCountry = db.TblCountry.ToList();
    var getallCategory = db.TblCategory.ToList();
    var GetallBrands = db.TblBrand.ToList();
    var natureofBusiness = db.TblNatureOfBusiness.ToList();
    var unitOfMeasurment = db.TblProductUnit.ToList();

}

@section Scripts{

    <script src="~/js/User/Product/Product.js"></script>
    <script src="~/js/Setup/Category/Common.js"></script>

    <!-- ckeditor js-->
    <link href="~/assets/js/summernote/summernote-bs4.css" rel="stylesheet" />
    <script src="~/assets/js/summernote/summernote-bs4.js"></script>
    <script>

    </script>

}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveProduct","User")" />
<input type="hidden" id="GetUserDetailURL" value="@Url.Action("GetUserDetail","User")" />
<input type="hidden" id="GetallProductsURL" value="@Url.Action("GetallProducts","User")" />
<input type="hidden" id="DeleteURL" value="@Url.Action("DeleteProduct","User")" />

<input type="hidden" id="EditProductURL" value="@Url.Action("EditProduct","User")" />
<input type="hidden" id="GetAllStoreDRPURL" value="@Url.Action("GetallStoreDRP","User")" />
<input type="hidden" id="SaveProductThumbnailsURL" value="@Url.Action("SaveProductThumbnails","User")" />


<input type="hidden" id="GetSecondCategoryDRPURL" value="@Url.Action("GetSecondCategoryDRP","Setup")" />
<input type="hidden" id="GetThirdCategoryDRPURL" value="@Url.Action("GetThirdCategoryDRP","Setup")" />
<input type="hidden" id="GetFourthCategoryDRPURL" value="@Url.Action("GetFourthCategoryDRP","Setup")" />


<input type="hidden" id="HideSecondCategoryId" value="0" />
<input type="hidden" id="HideThirdCategoryId" value="0" />
<input type="hidden" id="HideFourthCategoryId" value="0" />



<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Product

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Store</li>
                    <li class="breadcrumb-item active">Add Product</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Product</h5>
                </div>
                <div class="card-body">
                    <form id="StoreForm">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Select User</label>
                                    <select class="form-control validate" id="UserID" onchange="getallStoreDRP()">
                                        <option value="">--Select User--</option>
                                        @foreach (var item in getall)
                                        {
                                            <option value="@item.Id">@item.UserName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Store</label>
                                    <select class="form-control validate" id="StoreID">
                                        <option>--Select Store--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Select Brand</label>
                                    <select class="form-control validate" id="BrandId">
                                        <option>--Select Brand--</option>
                                        @foreach (var item in GetallBrands)
                                        {
                                            <option value="@item.Id">@item.BrandName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label> Category</label>
                                    <select class="form-control validate" id="Category" onchange="GetSecondCategoryDRP()">
                                        <option>--Select Category--</option>
                                        @foreach (var item in getallCategory)
                                        {
                                            <option value="@item.Id">@item.CategoryName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Second Category Name</label>
                                    <select class="form-control" id="SecondCategory" onchange="GetThirdCategoryDRP()">
                                        <option>--Select Second Category--</option>

                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Third Category</label>
                                    <select class="form-control" id="ThirdCategory" onchange="GetFourCategoryDRP()">
                                        <option>--Select Third Category--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Fourth Category</label>
                                    <select class="form-control" id="FourthCategory">
                                        <option>--Select Fourth Category--</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label> Unit Of Product</label>
                                    <select class="form-control validate" id="UnitID">
                                        <option>--Select Unit--</option>
                                        @foreach (var item in unitOfMeasurment)
                                        {
                                            <option value="@item.Id">@item.UnitName</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Product Name</label>
                                    <input type="text" id="ProductName" class="form-control validate" />

                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Product Name (In English)</label>
                                    <input type="text" id="ProductNameInEnglish" class="form-control " />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Highlights</label>
                                    <input type="text" id="Highlights" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Highlights in English</label>
                                    <input type="text" id="HighlightsInEnglish" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Warranty Type</label>
                                    <select class="form-control" id="WarrantyType">
                                        <option value="">--Select Warranty Type--</option>
                                        <option value="Local">Local</option>
                                        <option value="International">International</option>
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Whats in Box</label>
                                    <input type="text" id="WhatsInBox" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Package Weight (kg) </label>
                                    <input type="number" id="PackageWeightInKG" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Package Length </label>
                                    <input type="number" id="PackageLength" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Package Width  </label>
                                    <input type="number" id="PackageWidth" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Package Height </label>
                                    <input type="number" id="PackhageHeight" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Color Family </label>
                                    <input type="text" id="ColorFamily" class="form-control" />

                                </div>
                            </div>

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Seller SKU </label>
                                    <input type="text" id="SKU" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Total Quantity (units) </label>
                                    <input type="number" id="TotalQuantity" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Unit Price </label>
                                    <input type="number" id="UnitPrice" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Special Price </label>
                                    <input type="number" id="SpecialPrice" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Product Thumbnail Image </label>
                                    <input type="file" id="productThumbnails" class="form-control" />

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-2" style="float:left">
                                    <label for="IsNew">
                                        <input class="checkbox_animated" id="IsNew" name="IsNew" type="checkbox">
                                        Is New
                                    </label>
                                </div>
                                <div class="col-lg-2" style="float:left">
                                    <label for="IsFeatured">
                                        <input class="checkbox_animated" id="IsFeatured" name="IsFeatured" type="checkbox">
                                        Is Featured
                                    </label>
                                </div>
                                <div class="col-lg-2" style="float:left">
                                    <label for="IsBest">
                                        <input class="checkbox_animated" id="IsBest" name="IsBest" type="checkbox">
                                        Is Best
                                    </label>
                                </div>
                                <div class="col-lg-2" style="float:left">
                                    <label for="IsSpecial">
                                        <input class="checkbox_animated" id="IsSpecial" name="IsSpecial" type="checkbox">
                                        Is Special
                                    </label>
                                </div>
                                <div class="col-lg-2" style="float:left">
                                    <label for="IsSale">
                                        <input class="checkbox_animated" id="IsSale" name="IsSale" type="checkbox">
                                        Is Sale
                                    </label>
                                </div>
                                <div class="col-lg-2" style="float:left">
                                    <label for="IsFront">
                                        <input class="checkbox_animated" id="IsFront" name="IsFront" type="checkbox">
                                        Is Front
                                    </label>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Product Description </label>
                                    <textarea id="DescriptionProduct" rows="10"></textarea>

                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" onclick="SaveProduct()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Product List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>

<input type="hidden" id="HideThumbnail" value="" />

<input type="hidden" id="Id" value="0" />
<input type="hidden" id="HideStoreID" value="0" />

