﻿

@using AdminStore.Models
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Product Images";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getall = db.AspNetUsers.Where(x => x.AspNetUserRoles.FirstOrDefault().Role.Name != "Admin").ToList();

}

@section Scripts{


    <!-- dropzone js-->
    <link href="~/assets/js/dropzone/dropzone.css" rel="stylesheet" />
    <script src="~/assets/js/dropzone/dropzone.js"></script>
    <script src="~/js/User/Product/ProductImage.js"></script>
}
<input type="hidden" id="GetAllStoreDRPURL" value="@Url.Action("GetallStoreDRP","User")" />
<input type="hidden" id="GetallStoreProductURL" value="@Url.Action("GetallStoreProductDRP","User")" />
<input type="hidden" id="GetallProductImagesURL" value="@Url.Action("GetallProductImages","User")" />
<input type="hidden" id="ViewProductImagesURL" value="@Url.Action("ViewProductImages","User")" />
<input type="hidden" id="HidRemoveImageURL" value="@Url.Action("RemoveProductImage","User")" />


<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Product

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Product</li>
                    <li class="breadcrumb-item active">Add Product Images</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Product Images</h5>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Select User</label>
                                <select class="form-control validate" id="UserID" onchange="getallStoreDRP()">
                                    <option value="">--Select User--</option>
                                    @foreach (var item in getall)
                                    {
                                        <option value="@item.Id">@item.UserName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Store</label>
                                <select class="form-control validate" id="StoreID" onchange="GetallStoreProductDRP()">
                                    <option value="">--Select Store--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Select Brand</label>
                                <select class="form-control validate" id="Product">
                                    <option value="">--Select Product--</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form asp-controller="User" asp-action="SaveProductImages" name="files" class="dropzone" id="my-dropzone">
                                <div class="dz-message needsclick">
                                    Drop files here or click to upload.<br>
                                </div>
                            </form>

                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="SendFilesToServer()">Save</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Product List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>
<!-- Modal -->
<div id="ImagesModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div id="ModalBody"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="HideThumbnail" value="" />

<input type="hidden" id="Id" value="0" />
<input type="hidden" id="HideStoreID" value="0" />

