﻿@model AdminStore.Services.UserViewModel
@using AdminStore.Services
@{
    ViewData["Title"] = "Profile";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    PathClass obj = new PathClass();
    string path = obj.GetDomainNme();
}


<style>
    td.bold {
        font-weight: bold;
    }
</style>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Profile

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">User</li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="profile-details text-center">
                        @if (Model.ProfilePicture != null && Model.ProfilePicture != "")
                        {
                            <img src="@path@Model.ProfilePicture" alt="" class="img-fluid img-90 rounded-circle blur-up lazyloaded">
                        }
                        else
                        {
                            <img src="~/assets/images/dashboard/designer.jpg" alt="" class="img-fluid img-90 rounded-circle blur-up lazyloaded">
                        }

                        <h5 class="f-w-600 mb-0">@Model.FullName</h5>
                        <span>@Model.Email</span>

                        <div class="social">
                            <div class="form-group btn-showcase">
                                <button class="btn social-btn btn-fb d-inline-block"> <i class="fa fa-facebook"></i></button>
                                <button class="btn social-btn btn-twitter d-inline-block"><i class="fa fa-google"></i></button>
                                <button class="btn social-btn btn-google d-inline-block mr-0"><i class="fa fa-twitter"></i></button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="project-status">
                        <h5 class="f-w-600">About</h5>
                        <p>@Model.About</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card tab2-card">
                <div class="card-body">
                    <ul class="nav nav-tabs nav-material" id="top-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="top-profile-tab" data-toggle="tab" href="#top-profile" role="tab" aria-controls="top-profile" aria-selected="true"><i data-feather="user" class="mr-2"></i>Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" id="contact-top-tab" data-toggle="tab" href="#top-BankDetail" role="tab" aria-controls="top-BankDetail" aria-selected="false"><i data-feather="settings" class="mr-2"></i>Bank Detail</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="top-tabContent">
                        <div class="tab-pane fade show active" id="top-profile" role="tabpanel" aria-labelledby="top-profile-tab">
                            <h5 class="f-w-600">Personal Detail</h5>
                            <div class="table-responsive profile-table">
                                <table class="table table-responsive">
                                    <tbody>
                                        <tr>
                                            <td class="bold">Full Name:</td>
                                            <td>@Model.FullName</td>
                                            <td class="bold">DOB</td>
                                            <td>@Model.DOB</td>
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr>
                                            <td class="bold">CNIC:</td>
                                            <td>@Model.Cnic</td>
                                            <td class="bold">Mobile Number:</td>
                                            <td>@Model.mobile</td>
                                        </tr>
                                        <tr>
                                            <td class="bold">Country:</td>
                                            <td>@Model.Country</td>
                                            <td class="bold">Region:</td>
                                            <td>@Model.Region</td>
                                        </tr>
                                        <tr>
                                            <td class="bold">City:</td>
                                            <td>@Model.City</td>
                                            <td class="bold">Area:</td>
                                            <td>@Model.Area</td>
                                        </tr>
                                        <tr>
                                            <td class="bold">Address Line:</td>
                                            <td>@Model.AddressDescription</td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                        </div>

                        <!--Store Information-->
                        <div class="tab-pane fade" id="top-BankDetail" role="tabpanel" aria-labelledby="top-profile-tab">
                            <h5 class="f-w-600">Bank Detail</h5>
                            <div class="table-responsive profile-table">
                                <table class="table table-responsive">
                                    <tbody>
                                        <tr>
                                            <td class="bold">Account Title:</td>
                                            <td>@Model.AccountTitle</td>
                                            <td class="bold">Account Number:</td>
                                            <td>@Model.AccountNo</td>
                                        </tr>
                                        <tr>
                                        </tr>
                                        <tr>
                                            <td class="bold">Branch Code:</td>
                                            <td>@Model.BranchCode</td>
                                            <td class="bold">Cheque Image:</td>
                                            <td>@Model.ChequeImage</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
