﻿

@using AdminStore.Models
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Stores";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getall = db.AspNetUsers.Where(x => x.AspNetUserRoles.FirstOrDefault().Role.Name != "Admin").ToList();
    var getallCountry = db.TblCountry.ToList();
    var getallCategory = db.TblCategory.ToList();
    var GetallBrands = db.TblBrand.ToList();
    var natureofBusiness = db.TblNatureOfBusiness.ToList();
}

@section Scripts{
    <script src="~/js/Setup/Address/Common.js"></script>
    <script src="~/js/User/Store/AddStore.js"></script>
}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveStore","User")" />
<input type="hidden" id="GetUserDetailURL" value="@Url.Action("GetUserDetail","User")" />
<input type="hidden" id="GetallStoresURL" value="@Url.Action("GetallStores","User")" />
<input type="hidden" id="EditStoreURL" value="@Url.Action("EditStore","User")" />
<input type="hidden" id="GetallRegionDRPURL" value="@Url.Action("GetallRegionDRP","Setup")" />
<input type="hidden" id="GetallCityDRPURL" value="@Url.Action("GetallCityDRP","Setup")" />
<input type="hidden" id="DeleteURL" value="@Url.Action("DeleteStore","User")" />

<input type="hidden" id="GetallAreaDRPURL" value="@Url.Action("GetallAreaDRP","Setup")" />
<input type="hidden" id="SaveCompanyLogoURL" value="@Url.Action("SaveCompanyLogo","User")" />
<input type="hidden" id="SaveCompanyLicenceFileURL" value="@Url.Action("SaveCompanyLicenceFile","User")" />
<input type="hidden" id="SaveChequeImageURL" value="@Url.Action("SaveChequeImage","User")" />
<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Store

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Store</li>
                    <li class="breadcrumb-item active">Add Store</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Store</h5>
                </div>
                <div class="card-body">
                    <form id="StoreForm">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Select User</label>
                                    <select class="form-control validate" id="UserID">
                                        <option value="">--Select User--</option>
                                        @foreach (var item in getall)
                                        {
                                            <option value="@item.Id">@item.UserName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    <input type="text" id="CompanyName" class="form-control validate" />

                                </div>
                            </div>

                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Company Logo</label>
                                    <input type="file" id="CompanyLogo" class="form-control " />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Company Licence</label>
                                    <input type="text" id="CompanyLicence" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Company Licence File</label>
                                    <input type="file" id="CompanyLicenceFile" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Company Reg.NO</label>
                                    <input type="text" id="CompanyRegNo" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Company Reg.Date</label>
                                    <input type="text" id="CompanyRegtrationDate" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Company NTN #</label>
                                    <input type="text" id="CompanyNTNNo" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>No. of Product you Listing</label>
                                    <input type="number" id="ProductUlisting" class="form-control validate" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nature Of Business</label>
                                    <select class="form-control validate" id="NatureOfBusiness">
                                        <option value="" disabled>--Select Nature Of Business--</option>
                                        @foreach (var item in natureofBusiness)
                                        {
                                            <option value="@item.Id">@item.NatureOfBusiness</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select class="form-control validate" id="Category">
                                        <option value="" disabled>--Select Category--</option>
                                        @foreach (var item in getallCategory)
                                        {
                                            <option value="@item.Id">@item.CategoryName</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Brands You Offer</label>
                                    <select class="form-control validate" id="Brands">
                                        <option value="">--Select Brand--</option>
                                        @foreach (var item in GetallBrands)
                                        {
                                            <option value="@item.Id">@item.BrandName</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Bank Account Title</label>
                                    <input type="text" id="BankAccountTitle" class="form-control validate" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Account Number</label>
                                    <input type="text" id="AccountNumber" class="form-control validate" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Branch Code</label>
                                    <input type="text" id="BranchCode" class="form-control validate" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Cheque Image</label>
                                    <input type="file" id="ChequeImage" class="form-control" />

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Country</label>
                                    <select class="form-control validate" id="Country" onchange="GetallRegionDRP()">
                                        <option>--Select Country--</option>
                                        @foreach (var item in getallCountry)
                                        {
                                            <option value="@item.Id">@item.CountryName</option>
                                        }
                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Region</label>
                                    <select class="form-control validate" id="Region" onchange="GetallCityDRP()">
                                        <option>--Select Region--</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>City</label>
                                    <select class="form-control" id="City" onchange="GetallAreaDRP()">
                                        <option>--Select City--</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Area</label>
                                    <select class="form-control" id="Area">
                                        <option>--Select Area--</option>

                                    </select>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Company Address</label>
                                    <textarea class="form-control validate" id="CompanyAddress"></textarea>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Return Address</label>
                                    <textarea class="form-control validate" id="ReturnAddress"></textarea>

                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Terms And Condition</label>
                                    <input type="checkbox" name="termsAndCondition" />

                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" class="btn btn-primary" onclick="SaveUserDetail()">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Store List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>

<input type="hidden" id="HideImgUrl" value="" />
<input type="hidden" id="hideImgeCompanyLicence" value="" />
<input type="hidden" id="HideChequeImgUrl" value="" />
<input type="hidden" id="Id" value="0" />
<input type="hidden" id="addressId" value="0" />
<input type="hidden" id="RegionId" value="0" />
<input type="hidden" id="CityId" value="0" />
<input type="hidden" id="AreaId" value="0" />

