﻿@using AdminStore.Services
@{
    Layout = null;
    PathClass obj = new PathClass();
    string path = obj.GetDomainNme();

}
@model IEnumerable<AdminStore.Models.TblProductImages>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-3">
            <img src="@path@item.ImagePath" style="font-size:100px;width:100px" />
            <i class="fa fa-remove fa-lg" style="cursor:pointer" onclick="RemoveImage(@item.Id)"></i>
        </div>
    }
</div>
