﻿
@page
@model RegisterModel
@using AdminStore.Models
@{
     StoreKingbhaiContext db = new StoreKingbhaiContext();
   
    ViewData["Title"] = "Admin User";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getall = db.AspNetUsers.ToList();
}
<input type="hidden"id="HidUrlDeleteUser" value="@Url.Action("DeleteUser","User")"/>
<input type="hidden" id="BlockUserURL" value="@Url.Action("BlockUser","User")" />
<input type="hidden" id="UnblockUserURL" value="@Url.Action("UnblockUser","User")" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        User List

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active">Admin List</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5> Add User</h5>
                </div>
                <div class="card-body">
                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label asp-for="Input.UserName"></label>
                                    <input asp-for="Input.UserName" class="form-control" />
                                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label asp-for="Input.Email"></label>
                                    <input asp-for="Input.Email" class="form-control" />
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label asp-for="Input.Password"></label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <label asp-for="Input.ConfirmPassword"></label>
                                <input asp-for="Input.ConfirmPassword" class="form-control" />
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label asp-for="Input.PhoneNumber"></label>
                                    <input asp-for="Input.PhoneNumber" class="form-control" />
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Role</label>
                                    <select class="form-control" name="Role">
                                        <option value="">--Select Role--</option>
                                        <option value="SellerBusiness">Seller Business</option>
                                        <option value="SellerIndividual">Seller Individual</option>
                                        <option value="User">User</option>
                                        <option value="Admin">Admin</option>
                                        <option value="DataEntry">Data Entry</option>
                                    </select>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>User Details</h5>
        </div>
        <div class="card-body">
            <table class="display vendor-table" id="basic-1">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Role</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in getall)
                    {
                        var getrole = db.AspNetUserRoles.FirstOrDefault(x => x.UserId == item.Id);
                       
                    <tr>
                        <td>
                            @item.UserName
                        </td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            @if (getrole != null)
                            {
                                 var getroleName = db.AspNetRoles.FirstOrDefault(x => x.Id == getrole.RoleId);
                                @getroleName.Name
                            }
                            else
                            {

                            }


                        </td>
                        <td>
                            <div>
                                @*<i class="fa fa-edit mr-2 font-success"></i>*@
                                @if (item.EmailConfirmed == true)
                                {
                                    <i class="fa fa-unlock fa-lg" style="cursor:pointer;color:green;" title="Block User" onclick="BlockUser('@item.Id')"></i>
                                }
                                else
                                {
                                    <i class="fa fa-lock fa-lg" style="cursor:pointer;color:red" title="Unblock User" onclick="UnblockedUser('@item.Id')"></i>
                                }

                                <i class="fa fa-trash font-danger" style="cursor:pointer" onclick="DeleteUser('@item.Id')"></i>
                            </div>
                        </td>
                    </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>


@*<div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <section>
                <h4>Use another service to register.</h4>
                <hr />
                @{
                    if ((Model.ExternalLogins?.Count ?? 0) == 0)
                    {
                        <div>
                            <p>
                                There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                                for details on setting up this ASP.NET application to support logging in via external services.
                            </p>
                        </div>
                    }
                    else
                    {
                        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                            <div>
                                <p>
                                    @foreach (var provider in Model.ExternalLogins)
                                    {
                                        <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                    }
                                </p>
                            </div>
                        </form>
                    }
                }
            </section>
        </div>
    </div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
<script src="~/js/User/AdminUser.js"></script>
}
