﻿
@using AdminStore.Models;
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Area";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getallCountry = db.TblCountry.ToList();
}

@section Scripts{
    <script src="~/js/Setup/Address/Area.js"></script>

    <script src="~/js/Setup/Address/Common.js"></script>
}
<input type="hidden" id="RegionId" value="0" />
<input type="hidden" id="CityId" value="0" />
<input type="hidden" id="GetallCityDRPURL" value="@Url.Action("GetallCityDRP","Setup")" />

<input type="hidden" id="GetallRegionDRPURL" value="@Url.Action("GetallRegionDRP","Setup")" />

<input type="hidden" id="SaveURL" value="@Url.Action("SaveArea","Setup")" />
<input type="hidden" id="GetallURL" value="@Url.Action("GetallArea","Setup")" />
<input type="hidden" id="DeleteURL" value="@Url.Action("DeleteArea","Setup")" />

<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Setup

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item active">Address</li>
                    <li class="breadcrumb-item active">Area</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Area</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Country</label>
                                <select class="form-control" id="Country" onchange="GetallRegionDRP()">
                                    <option>--Select Country--</option>
                                    @foreach (var item in getallCountry)
                                    {
                                        <option value="@item.Id">@item.CountryName</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Region</label>
                                <select class="form-control" id="Region" onchange="GetallCityDRP()">
                                    <option>--Select Region--</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>City</label>
                                <select class="form-control" id="City">
                                    <option>--Select City--</option>

                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Area Name</label>
                                <input type="text" id="AreaName" class="form-control" />
                                <span id="CategoryErrorField" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="SaveCity()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Category List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>





