﻿
@{
    ViewData["Title"] = "Brand";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}
@section Scripts{
    <script src="~/js/Setup/Brand.js"></script>
}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveBrand","Setup")" />
<input type="hidden" id="GetallBrandsURL" value="@Url.Action("GetallBrands","Setup")" />
<input type="hidden" id="DeleteBrandURL" value="@Url.Action("DeleteBrand","Setup")" />
<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Setup

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item active">Brand</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Brand</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Brand Name</label>
                                <input type="text" id="Brand" class="form-control" />
                                <span id="CategoryErrorField" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4" style="float:left">
                            <div class="form-group" style="padding-top:36px">
                                <label for="IsTop">
                                    <input class="checkbox_animated" id="IsTop" name="IsTop" type="checkbox">
                                    Is Top
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="AddBrand()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Brand List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>



