﻿
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}
@section Scripts{
    <script src="~/js/Setup/Setup.js"></script>
}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveCategory","Setup")" />
<input type="hidden" id="GetAllCategoryURL" value="@Url.Action("GetAllCategory","Setup")" />
<input type="hidden" id="DeleteCategoryURL" value="@Url.Action("DeleteCategory","Setup")" />
<input type="hidden" id="SaveImageURL" value="@Url.Action("SaveCategoryImage","Setup")" />
<input type="hidden" id="EditCategoryURL" value="@Url.Action("EditCategory","Setup")" />

<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Setup

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item active">Category</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Category</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Category Name</label>
                                <input type="text" id="Category" class="form-control" />
                                <span id="CategoryErrorField" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Category Image</label>
                                <input type="file" id="Image" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Order By</label>
                                <input type="number" id="OrderBy" placeholder="Enter Value" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4" style="float:left">
                            <div class="form-group" style="padding-top:36px">
                                <label for="IsFront">
                                    <input class="checkbox_animated" id="IsFront" name="IsFront" type="checkbox">
                                    Is Top
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="AddCategory()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Category List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>

<input type="hidden" value="" id="HideImageURL" />