﻿
@{
    ViewData["Title"] = "Country";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
}

@section Scripts{
    <script src="~/js/Setup/Address/Country.js"></script>
}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveCountry","Setup")" />
<input type="hidden" id="GetallURL" value="@Url.Action("GetallCountry","Setup")" />
<input type="hidden" id="DeleteURL" value="@Url.Action("DeleteCountry","Setup")" />
<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Setup

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item active">Address</li>
                    <li class="breadcrumb-item active">Country</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Country</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Country Name</label>
                                <input type="text" id="Country" class="form-control" />
                                <span id="CategoryErrorField" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="AddCountry()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Category List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>

