﻿
@using AdminStore.Models;
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Fourth Category";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getallCategory = db.TblCategory.ToList();
}

@section Scripts{
    <script src="~/js/Setup/Category/FourthCategory.js"></script>
    <script src="~/js/Setup/Category/Common.js"></script>

}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveFourthCategory","Setup")" />
<input type="hidden" id="GetallURL" value="@Url.Action("GetallFourthCategory","Setup")" />
<input type="hidden" id="DeleteURL" value="@Url.Action("DeleteFourthCategory","Setup")" />

<input type="hidden" id="GetSecondCategoryDRPURL" value="@Url.Action("GetSecondCategoryDRP","Setup")" />
<input type="hidden" id="GetThirdCategoryDRPURL" value="@Url.Action("GetThirdCategoryDRP","Setup")" />
<input type="hidden" id="GetFourthCategoryDRPURL" value="@Url.Action("GetFourthCategoryDRP","Setup")" />


<input type="hidden" id="HideSecondCategoryId" value="0" />
<input type="hidden" id="HideThirdCategoryId" value="0" />


<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Setup

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Category</li>

                    <li class="breadcrumb-item active">Fourth Category</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Fourth Category</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" id="Category" onchange="GetSecondCategoryDRP()">
                                    <option>--Select Category--</option>
                                    @foreach (var item in getallCategory)
                                    {
                                        <option value="@item.Id">@item.CategoryName</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Second Category Name</label>
                                <select class="form-control" id="SecondCategory" onchange="GetThirdCategoryDRP()">
                                    <option>--Select Second Category--</option>

                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Third Category</label>
                                <select class="form-control" id="ThirdCategory">
                                    <option>--Select Third Category--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Fourth Category Name</label>
                                <input type="text" id="ForthCategoryName" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="Save()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Category List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>



