﻿@model IEnumerable<AdminStore.Models.TblProductUnit>
<table class="display vendor-table" id="basic-1">
    <thead>
        <tr>
            <th>Unit Name</th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.UnitName
                </td>

                <td>
                    <div>
                        <i class="fa fa-edit mr-2 font-success" style="cursor:pointer" onclick="Edit('@item.Id', '@item.UnitName')"></i>
                        <i class="fa fa-trash font-danger" style="cursor:pointer" onclick="Delete('@item.Id')"></i>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>