﻿@using AdminStore.Services
@{ 
     PathClass obj = new PathClass();
    string path = obj.GetDomainNme();
}

@model IEnumerable<AdminStore.Models.TblCategory>
<table class="display vendor-table" id="basic-1">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Image</th>
            <th>Is Top</th>
            <th>Order Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.CategoryName
                </td>
                <td>
                    @if (item.Image != "" && item.Image != null)
                    {
                        <img src="@path@item.Image" style="height:100px;width:100px;" />
                    }
                    else
                    {
                        <img src="~/NoImage.png" style="height:100px;width:100px;" />
                    }
                </td>
                <td>
                    @if(item.IsTop==true)
                    {
                        <span style="color:green">Yes</span>
                    }
                    else
                    {
                        <span style="color:red">No</span>
                    }
                </td>
                <td>
                    @if(item.Orderby!=null)
                    {
                        <span>@item.Orderby</span>
                    }
                    else
                    {
                        <span class="text-danger">Not Assigned</span>
                    }
                </td>
                <td>
                    <div>
                        <i class="fa fa-edit mr-2 font-success" style="cursor:pointer" onclick="Edit('@item.Id')"></i>
                        <i class="fa fa-trash font-danger" style="cursor:pointer" onclick="Delete('@item.Id')"></i>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>