﻿@{
    Layout = null;
}
@model IEnumerable<AdminStore.Models.TblCity>
@using AdminStore.Models
<table class="display vendor-table" id="basic-1">
    <thead>
        <tr>
            <th>Country Name</th>
            <th>Region Name</th>
            <th>City Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            StoreKingbhaiContext db = new StoreKingbhaiContext();
            var getregion = db.TblRegion.FirstOrDefault(x => x.Id == item.RegionId);
            var getcountry = db.TblCountry.FirstOrDefault(x => x.Id == getregion.CountryId);
        <tr>
            <td>
                @getcountry.CountryName
            </td>
            <td>
                @getregion.RegionName
            </td>
            <td>
                @item.CityName
            </td>
            <td>
                <div>
                    <i class="fa fa-edit mr-2 font-success" style="cursor:pointer" onclick="Edit('@item.Id','@getcountry.Id', '@item.RegionId','@item.CityName')"></i>
                    <i class="fa fa-trash font-danger" style="cursor:pointer" onclick="Delete('@item.Id')"></i>
                </div>
            </td>
        </tr>
        }


    </tbody>
</table>