﻿@{
    Layout = null;
}
@model IEnumerable<AdminStore.Models.TblThirdLevelCategory>
@using AdminStore.Models
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
}
<table class="display vendor-table" id="basic-1">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Second Category Name</th>
            <th>Third Category Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
             var getSecondCategory = db.TblSecondLevelCategory.FirstOrDefault(x => x.Id == item.SecondLevelCategoryId);
            var getcategory = db.TblCategory.FirstOrDefault(x => x.Id == getSecondCategory.CategoryId);
        <tr>
            <td>
                @getcategory.CategoryName
            </td>
            <td>
                @getSecondCategory.CategoryName
            </td>
            <td>
                @item.CategoryName
            </td>
            <td>
                <div>
                    <i class="fa fa-edit mr-2 font-success" style="cursor:pointer" onclick="Edit('@item.Id','@getcategory.Id', '@item.SecondLevelCategoryId','@item.CategoryName')"></i>
                    <i class="fa fa-trash font-danger" style="cursor:pointer" onclick="Delete('@item.Id')"></i>
                </div>
            </td>
        </tr>
        }


    </tbody>
</table>