﻿@{
    Layout = null;
}
@model IEnumerable<AdminStore.Models.TblBrand>
<table class="display vendor-table" id="basic-1">
    <thead>
        <tr>
            <th>Brand Name</th>
            <th>Is Top</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.BrandName
                </td>
                <td>
                    @if (item.IsTop == true)
                    {
                        <span style="color:green">Yes</span>
                    }
                    else
                    {
                        <span style="color:red">No</span>

                    }
                </td>
                <td>
                    <div>
                        <i class="fa fa-edit mr-2 font-success" style="cursor:pointer" onclick="Edit('@item.Id', '@item.BrandName','@item.IsTop')"></i>
                        <i class="fa fa-trash font-danger" style="cursor:pointer" onclick="Delete('@item.Id')"></i>
                    </div>
                </td>
            </tr>
        }


    </tbody>
</table>