﻿@using AdminStore.Models;
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Region";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getallCountry = db.TblCountry.ToList();
}

@section Scripts{
    <script src="~/js/Setup/Address/Region.js"></script>
}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveRegion","Setup")" />
<input type="hidden" id="GetallURL" value="@Url.Action("GetallRegion","Setup")" />
<input type="hidden" id="DeleteURL" value="@Url.Action("DeleteRegion","Setup")" />
<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Setup

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Setup</li>
                    <li class="breadcrumb-item active">Address</li>
                    <li class="breadcrumb-item active">Region</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Region</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Country</label>
                             <select class="form-control" id="Country">
                                 <option>--Select Country--</option>
                                 @foreach(var item in getallCountry)
                                 {
                                     <option value="@item.Id">@item.CountryName</option>
                                 }
                             </select>
                             
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Region Name</label>
                                <input type="text" id="Region" class="form-control" />
                                <span id="CategoryErrorField" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="AddCountry()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Category List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>



