﻿
@using AdminStore.Models;
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Second Category";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getallCategory = db.TblCategory.ToList();
}

@section Scripts{
    <script src="~/js/Setup/Category/SecondCategory.js"></script>
}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveSecondCategory","Setup")" />
<input type="hidden" id="GetallURL" value="@Url.Action("GetallSecondCategory","Setup")" />
<input type="hidden" id="DeleteURL" value="@Url.Action("DeleteSecondCategory","Setup")" />
<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Setup

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Category</li>
                  
                    <li class="breadcrumb-item active">Second Category</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Second Category</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Category</label>
                                <select class="form-control" id="Category">
                                    <option>--Select Category--</option>
                                    @foreach (var item in getallCategory)
                                    {
                                        <option value="@item.Id">@item.CategoryName</option>
                                    }
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Second Category Name</label>
                                <input type="text" id="SecondCateName" class="form-control" />
                                <span id="CategoryErrorField" class="text-danger"></span>
                            </div>
                        </div>

                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="AddCountry()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Category List</h5>
        </div>
        <div class="card-body" id="DataHtml">

        </div>
    </div>
</div>



