﻿@using AdminStore.Models;
@using AdminStore.Services
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Sub Slider";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getall = db.TblSubbanners.ToList();
    PathClass obj = new PathClass();
    string path = obj.GetDomainNme();

}
@section Scripts{
    <script src="~/js/Slider/SubSlider.js"></script>
}
<input type="hidden" id="SaveURL" value="@Url.Action("SaveSubSlider","Slider")" />
<input type="hidden" id="DeleteURL" value="@Url.Action("DeleteSubSlider","Slider")" />
<input type="hidden" id="EditURL" value="@Url.Action("EditSubSlider","Slider")" />
<input type="hidden" id="SaveImageOneURL" value="@Url.Action("SaveImageOne","Slider")" />


<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Slider

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Slider</li>
                    <li class="breadcrumb-item active">Sub Slider</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Sub Slider</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" id="Title" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Sub Title</label>
                                <input type="text" id="Subtitle" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Link</label>
                                <input type="text" id="Link" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Image One</label>
                                <input type="file" id="ImageOne" class="form-control" />

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-2" style="float:left">
                                <label for="IsTop">
                                    <input class="radio_animated" id="IsTop" name="Postion" value="Top" type="radio">
                                    Is Top
                                </label>
                            </div>
                            <div class="col-lg-2" style="float:left">
                                <label for="IsBottom">
                                    <input class="radio_animated" id="IsBottom" value="Bottom" name="Postion" type="radio">
                                    Is Bottom
                                </label>
                            </div>
                            
                        </div>

                    </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="SaveSubSlider()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>List</h5>
        </div>
        <div class="card-body">
            <table class="display vendor-table" id="basic-1">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Sub Title</th>
                        <th>Postion</th>
                        <th>Link</th>
                        <th>Image </th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in getall)
                    {
                        <tr>
                            <td>
                                @item.Title
                            </td>
                            <td>
                                @item.SubTitle
                            </td>

                            <td>
                                @if (item.IsTop == true)
                                {
                                    <span>Top</span>
                                }
                                @if (item.IsBottom == true)
                                {
                                    <span>Bottom</span>
                                }
                                
                            </td>

                            <td>
                                @item.Link
                            </td>
                            <td>
                                @if (item.Image != null&&item.Image!="")
                                {
                                    <img src="@path@item.Image" style="height:100px;width:100px;" />
                                }
                                else
                                {
                                    <img src="~/NoImage.png" style="height:100px;width:100px;" />
                                }
                            </td>
                            
                            <td>
                                <div>
                                    <i class="fa fa-edit mr-2 font-success" style="cursor:pointer" onclick="Edit('@item.Id')"></i>
                                    <i class="fa fa-trash font-danger" style="cursor:pointer" onclick="Delete('@item.Id')"></i>
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="HideImgOneUrl" value="" />
<input type="hidden" id="HideImgTwoUrl" value="" />

<input type="hidden" id="Id" value="0" />

