﻿@using AdminStore.Models;
@using AdminStore.Services
@{
    StoreKingbhaiContext db = new StoreKingbhaiContext();
    ViewData["Title"] = "Web Reviews";
    Layout = "~/Views/Shared/_ProjectLayout.cshtml";
    var getall = db.TblWebReviews.ToList();
    PathClass obj = new PathClass();
    string path = obj.GetDomainNme();

}
@section Scripts{
    <script src="~/js/Slider/WebReviews.js"></script>
}
<input type="hidden" id="ShowFrontURL" value="@Url.Action("ShowFront","Slider")" />
<input type="hidden" id="ShowNotFrontURL" value="@Url.Action("ShowNotFrontURL","Slider")" />



<input type="hidden" id="Id" value="0" />
<div class="container-fluid">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-6">
                <div class="page-header-left">
                    <h3>
                        Slider

                    </h3>
                </div>
            </div>
            <div class="col-lg-6">
                <ol class="breadcrumb pull-right">

                    <li class="breadcrumb-item">Slider</li>
                    <li class="breadcrumb-item active">Discount Banner</li>
                </ol>
            </div>
        </div>
    </div>
</div>
@*<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Add Discount Banner</h5>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Title</label>
                                <input type="text" id="Title" class="form-control" />

                            </div>
                        </div>

                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Link</label>
                                <input type="text" id="Link" class="form-control" />

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label>Image</label>
                                <input type="file" id="ImageOne" class="form-control" />

                            </div>
                        </div>

                    </div>

                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" onclick="SaveDiscountBanner()">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>List</h5>
        </div>
        <div class="card-body">
            <table class="display vendor-table" id="basic-1">
                <thead>
                    <tr>
                        <th nowrap>User Name</th>

                        <th>Description</th>
                      
                        <th nowrap>Is Front</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in getall)
                    {
                        var username = "";
                        var getuserdetail = db.TblUserDetail.FirstOrDefault(x => x.UserId == item.UserId);
                        if(getuserdetail!=null)
                        {
                            username = getuserdetail.FullName;
                        }
                        else
                        {
                            var get = db.AspNetUsers.FirstOrDefault(x => x.Id == item.UserId);
                            username = get.UserName;
                        }
                        <tr>
                            <td nowrap>
                                @username
                            </td>

                            <td>
                                @item.Description
                            </td>
                            

                            <td>
                                <div>
                                    @if (item.IsFront == true)
                                    {
                                        <i class="fa fa-times fa-lg" style="cursor:pointer;color:red;" onclick="ShowNotFront('@item.Id')"></i>
                                    }
                                    else
                                    {
                                        <i class="fa fa-check fa-lg" style="cursor:pointer;color:green" onclick="ShowFront('@item.Id')"></i>
                                    }

                                  
                                </div>
                            </td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
<input type="hidden" id="HideImgOneUrl" value="" />
<input type="hidden" id="HideImgTwoUrl" value="" />

<input type="hidden" id="Id" value="0" />

